---
import GithubIcon from "../components/icons/GithubIcon.astro";
import GmailIcon from "../components/icons/GmailIcon.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Portafolio de Nath-Maya - Desarrolladora y programadora">
  <main>
    <SectionContainer>
      <h1
        class="text-white text-5xl fond-bold flex justify-center flex-row gap-x-3 pb-5"
      >
        Hola, Soy Nathalia Maya!
        <div class="">
          <a
            href="https://www.linkedin.com/in/nathalia-maya-814245119/"
            target="_blank"
          >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Disponible para trabajar</span
            >
          </a>
        </div>
      </h1>
      <h2 class="text-xl p-6 text-justify">
        Desarrolladora web, con una sólida
        experiencia en analísis y una habilidad especial para resolver problemas
        complejos. Mi viaje en la tecnología está impulsado por una curiosidad
        incesante y una dedicación al aprendizaje continuo.
      </h2>
      <nav class="flex gap-x-4 justify-center">
        <SocialPill href="https://www.linkedin.com/in/nathalia-maya-814245119/">
          <LinkedinIcon class="size-4" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://github.com/Nath-Maya">
          <GithubIcon class="size-4" />
          Github
        </SocialPill>
        <SocialPill href="mailto:natha.maya.ramirez93@gmail.com">
          <GmailIcon class="size-4" />
          Correo
        </SocialPill>
        <SocialPill href="https://wa.me/573208087762">
          <WhatsappIcon class="size-4" />
          Whatsapp
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer>
      <h1 class="text-white text-4xl fond-bold flex justify-center flex-row gap-x-3 pb-4">
        Work Experience
      </h1>
      <Experience/>
    </SectionContainer>

  </main>
</Layout>
