---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio Nath-Maya">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1
        class="text-white text-5xl fond-bold flex justify-center flex-row gap-x-3"
      >
        Hola, Soy Nathalia Maya!
        <div class="">
          <a href="https://www.linkedin.com/in/nathalia-maya-814245119/" target="_blank">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Disponible para trabajar</span
            >
          </a>
        </div>
      </h1>
      <h2 class="text-xl">
        Soy Nathalia Maya Ramirez, desarrolladora web, con una sólida
        experiencia en analísis y una habilidad especial para resolver problemas
        complejos. Mi viaje en la tecnología está impulsado por una curiosidad
        incesante y una dedicación al aprendizaje continuo.
      </h2>
    </section>
  </main>
</Layout>
