---
import GithubIcon from "../components/icons/GithubIcon.astro";
import GmailIcon from "../components/icons/GmailIcon.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio Nath-Maya">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1
        class="text-white text-5xl fond-bold flex justify-center flex-row gap-x-3 pb-5"
      >
        Hola, Soy Nathalia Maya!
        <div class="">
          <a
            href="https://www.linkedin.com/in/nathalia-maya-814245119/"
            target="_blank"
          >
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400"
              >Disponible para trabajar</span
            >
          </a>
        </div>
      </h1>
      <h2 class="text-xl p-6">
        Soy Nathalia Maya Ramirez, desarrolladora web, con una sólida
        experiencia en analísis y una habilidad especial para resolver problemas
        complejos. Mi viaje en la tecnología está impulsado por una curiosidad
        incesante y una dedicación al aprendizaje continuo.
      </h2>
      <ul class="flex flex-row">
        <il class="p-2"
          ><a
            href="https://www.linkedin.com/in/nathalia-maya-814245119/"
            target="_blank" 
          >
            <LinkedinIcon class="w-6 h-6" />
          </a></il
        >
        <il class="p-2"
          ><a
            href="https://github.com/Nath-Maya?tab=repositories"
            target="_blank" 
          >
            <GithubIcon class="w-6 h-6 "/>
          </a></il
        >
        <il class="p-2"
          ><a href="mailto:natha.maya.ramirez93@gmail.com" target="_blank" >
            <GmailIcon class="w-6 h-6 "/>
          </a></il
        >
        <il class="p-2"
          ><a
            href="https://wa.me/57320808772?text=Hola%20quiero%20contactarme%20contigo!"
            target="_blank"
          >
            <WhatsappIcon class="w-6 h-6 "/></a
          ></il
        >
      </ul>
    </section>
  </main>
</Layout>
