<div class="grid gap-4">
   <div>
       <img class="h-auto max-w-full rounded-lg" src="/src/assets/img/gallery/bike.jpeg" alt="">
   </div>
   <div class="grid grid-cols-3 gap-4">
       <div>
           <img class="h-auto max-w-full rounded-lg" src="/src/assets/img/gallery/run.jpeg" alt="">
       </div>
       <div>
           <img class="h-auto max-w-full rounded-lg" src="/src/assets/img/gallery/art.jpeg" alt="">
       </div>
       <div>
           <img class="h-auto max-w-full rounded-lg" src="/src/assets/img/gallery/run2.jpeg" alt="">
       </div>
   </div>
</div>
