<header class="bg-gray-800 text-white py-4 px-6 flex justify-between items-center">
   <div class="flex items-center">
     <img src="/src/assets/img/photo.png" class="rounded-full w-12 h-12" alt="Logo" />
   </div>
   <nav class="flex items-center gap-x-10">
     <a href="/" class="text-lg font-semibold hover:text-gray-400 transition">Home</a>
     <a href="/about" class="text-lg font-semibold hover:text-gray-400 transition">About</a>
     <a href="/projects" class="text-lg font-semibold hover:text-gray-400 transition">Projects</a>
     <a href="/contact" class="text-lg font-semibold hover:text-gray-400 transition">Contact</a>
   </nav>
 </header>
 