<header class= "text-white py-4 px-6 flex justify-between items-center w-[1120px] mx-auto">
   <div class="flex items-center">
     <img src="/src/assets/img/photo.png" class="w-12 h-12 p-1 rounded-full  dark:ring-gray-500 bg-slate-50"  alt="Logo"/>
   </div>
   <nav class="flex flex-row items-center gap-x-10 opacity-80">
     <a href="#top" class="text-lg font-semibold hover:text-gray-400 transition">Inicio</a>
     <a href="#sobremi" class="text-lg font-semibold hover:text-gray-400 transition">Sobre Mí</a>
     <a href="#experiencia" class="text-lg font-semibold hover:text-gray-400 transition">Experiencia</a>
     <a href="#proyectos" class="text-lg font-semibold hover:text-gray-400 transition">Proyectos</a>
     <a href="#contacto" class="text-lg font-semibold hover:text-gray-400 transition">Contacto</a>
   </nav>
 </header>
 